<div class="">
    <span class="border p-4 shadow bg-slate-200">Welcome, {{ (user$ | async)?.email }}</span>
</div>

<div class="flex justify-center mb-4">
    <button (click)="openCreateProjectModal()" type="button" class="rounded bg-green-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Project</button>
</div>





<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mx-12">
    
    @for (project of (userProjects$ | async)?.projects; track $index) {
        <app-project-card [project]="project" ></app-project-card>
    }
</ul>

<!-- @if (isCreateProjectModalOpen()) {
<app-modal title="Create Project">
    test
  </app-modal>
} -->


